#!/bin/bash

# For use in other functions/scripts
function about {
  echo "$1"
}
function example {
  echo "\nExample usage:"
  echo "\t$1"
}

### Following functions modified from https://github.com/mathiasbynens/dotfiles

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
function targz() {
  local tmpFile="${@%/}.tar"
  tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1

  size=$(
    stat -f"%z" "${tmpFile}" 2> /dev/null; # OS X `stat`
    stat -c"%s" "${tmpFile}" 2> /dev/null # GNU `stat`
  )

  local cmd=""
  if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
    # the .tar file is smaller than 50 MB and Zopfli is available; use it
    cmd="zopfli"
  else
    if hash pigz 2> /dev/null; then
      cmd="pigz"
    else
      cmd="gzip"
    fi
  fi

  echo "Compressing .tar using \`${cmd}\`…"
  "${cmd}" -v "${tmpFile}" || return 1
  [ -f "${tmpFile}" ] && rm "${tmpFile}"
  echo "${tmpFile}.gz created successfully."
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg .[^.]* *
  fi
}

# Compare original and gzipped file size
function gz() {
  local origsize=$(wc -c < "$1")
  local gzipsize=$(gzip -c "$1" | wc -c)
  local ratio=$(echo "$gzipsize * 100/ $origsize" | bc -l)
  printf "orig: %d bytes\n" "$origsize"
  printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}

# Install Grunt plugins and add them as `devDependencies` to `package.json`
# Usage: `gi contrib-watch contrib-uglify zopfli`
function gi() {
  local IFS=,
  eval npm install --save-dev grunt-{"$*"}
}

# # `m` with no arguments opens the current directory in TextMate, otherwise
# # opens the given location
# function m() {
#   if [ $# -eq 0 ]; then
#     mate .
#   else
#     mate "$@"
#   fi
# }


# `o` with no arguments opens current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .
  else
    open "$@"
  fi
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX
}


### Following functions from divya (https://github.com/nimbupani/dotfiles)

# Header logging
e_header() {
    echo -e "\n$(tput setaf 7)$@$(tput sgr0)";
}

# Success logging
e_success() {
    echo -e "$(tput setaf 64)✓ $@$(tput sgr0)";
}

# Error logging
e_error() {
    echo -e "$(tput setaf 1)x $@$(tput sgr0)";
}

# Warning logging
e_warning() {
    echo -e "$(tput setaf 136)! $@$(tput sgr0)";
}

# Test whether a command exists
# $1 - cmd to test
type_exists() {

  exists=`type -a $1`
  echo $exists
  # return $exists
  # if [ `type -w $1` ]; then
  #   return 0
  # fi
  # return 1
}


# Test whether a Homebrew formula is already installed
# $1 - formula name (may include options)
formula_exists() {
  if ! `brew list $1 >/dev/null`; then
    e_warning "Missing formula: $1"
    return 1
  fi

  echo $1 "already installed."
  return 0
}
