# bin
home/bin/*
!home/bin/*.sh

# Secrets
.gnupg
.npmrc
.ssh
*.secrets
auth.json
extra.sh
secrets.*
credentials
auto_volumes

# App preferences
.vscode/
.vsce
Library
.yarnrc
.docker/config.json

# Other unnecessary
home/.vim/bundle
home/Caddyfile
tmp/
cache/
