# bin
home/bin/*
!home/bin/*.sh
!home/bin/icons
# Secrets
.gnupg
.npmrc
.ssh
.aws
*.secrets
auth.json
extra.sh
secrets.*
credentials
auto_volumes

# Per-device config/preferences
.vscode/
.vsce
home/Library
.yarnrc
**/.docker/config.json

# Other unnecessary
home/.vim/bundle
home/Caddyfile
tmp/
cache/
