### included .gitconfig.secrets file should have the following:
# [user]
  # name = FIRSTNAME LASTNAME
  # email = USER@EXAMPLE.com
# [github]
  # user = USER
  # token = TOKEN
# [gist-diff]
  # token = TOKEN
###
[include]
  path = ~/.gitconfig.secrets
###

[core]
  # autocrlf = input
  excludesfile = ~/.gitignore_global
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  eol = lf
  longpaths = true
  # pager = delta
  # editor = subl -n -w

[delta]
  plus-style = "syntax #016600"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true
  line-numbers = true
  file-style = bold yellow ul
  commit-decoration-style = bold yellow box ul

[interactive]
  # diffFilter = delta --color-only

[init]
  templatedir = ~/.git_template
  defaultBranch = main

[push]
  default = current

[alias]
  a = add --all
  all = add --all
  br = branch
  ci = commit
  cia = commit --allow-empty
  co = checkout
  df = diff
  dt = difftool --no-prompt
  fetchp = fetch --prune
  g = grep -I
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  logl = log --oneline --decorate
  pp = !"echo 'Pull'; git pull --rebase; echo 'Push'; git push"
  cop = !"git checkout .; git pull"
  pusht = !"git push; git push --tags"
  ms = merge --squash
  msn = merge --squash --no-commit
  st = status
  rename = branch -m
  t = tag
  # Tags are sorted  by version:refname per [tag] config below
  tagl = tag -l
  taglt = !"git tag -l | tail"
  su = submodule update --init
  fb = !"git-fb.sh"
  push-to = !"git-push-to.sh"
  wtf = !"git-wtf.sh"
  syncupstreammaster = !"git fetch upstream; git checkout master; git merge upstream/master; git push; echo 'Check out your branch and run git rebase master. See: http://www.xanthir.com/b4hf0'"
  syncupstreammain = !"git fetch upstream; git checkout main; git merge upstream/main; git push; echo 'Check out your branch and run git rebase main. See: http://www.xanthir.com/b4hf0'"

  ## These aliases require git-extras (http://github.com/visionmedia/git-extras)
  delete = delete-branch
  del = delete-branch
  cb = create-branch
  ####

  # new = !"git init && git symbolic-ref HEAD refs/heads/main"
  # sync2main = !"git checkout master && git branch -m master main && git fetch && git branch --unset-upstream && git branch -u origin/main && git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/main"

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[apply]
  # whitespace = nowarn

[branch]
  autosetuprebase = always

[fetch]
  prune = true

[pull]
  rebase = true

[rebase]
  autoStash = true

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"

[tag]
  sort = version:refname

[log]
  date = iso

[merge]
  tool = sourcetree
  conflictstyle = diff3

[mergetool]
  prompt = false

# [mergetool "extMerge"]
#   cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
#   trustExitCode = true

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[icdiff]
  options = " --line-numbers"
