# DON'T FORGET TO ADD HOSTS TO /etc/hosts (they might be commented out)
# http://barcamp.dev {
#   root /Users/kswedberg/repos/barcamp/public
#   # one year cache
#   header /assets/ Cache-control "max-age=31536000"
#   gzip
# }
# https://barcamp.dev {
#   root /Users/kswedberg/repos/barcamp/public
#   # one year cache
#   header /assets/ Cache-control "max-age=31536000"
#   gzip
#   tls self_signed
# }

dertv.dev:80 {
  redir https://dertv.dev{uri}
}
dertv.dev:443 {
  tls self_signed
  root /Users/kswedberg/Sites/hmc-gallery/public
  proxy / localhost:8082
}
er.dev:80 {
  redir https://er.dev{uri}
}
er.dev:443 {
  root /Users/kswedberg/Sites/freelance/englishrules.com
  tls self_signed
  fastcgi / 127.0.0.1:9000 php
  rewrite {
      if {path} not_match ^\/wp-admin
      to {path} {path}/ /index.php?_url={uri}
  }
}

blog.dev:80 {
  redir https://blog.dev{uri}
}
blog.dev:443 {
  root /Users/kswedberg/Sites/blog/public
  tls self_signed
  # one year cache
  header /assets/ Cache-control "max-age=31536000"
  # header /search/ Accept "application/json"
  gzip
  # search {
  #   template "/search/index.html"
  #   -path \.(xml|css|js)$
  #   -path search\/index\.html
  #   -path _pages/.*$
  # }

  rewrite {
    # Not sure why this works when a bunch of other patters didn't (like ^\/(.*)index\.html )
    regexp ^\/(.*)\/index\.html
    to /{1}
  }

  errors {
    404 404.html
  }
}
