"*":
  "exception-reporting":
    userId: "24b42741-85cc-662e-ac4a-2329d5e7557c"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "2c3c1c2ee7e96b8eb3f2365024a40f726b1578d6"
  editor:
    softWrap: true
    invisibles: {}
    preferredLineLength: 100
    softWrapHangingIndent: 2
    showIndentGuide: true
  core:
    customFileTypes:
      "source.js.jsx": [
        "js"
        "jsx"
      ]
    themes: [
      "atom-dark-ui"
      "one-light-syntax"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".sass-cache"
    ]
    audioBeep: false
    disabledPackages: [
      "markdown-preview"
      "autocomplete-emojis"
    ]
    packagesWithKeymapsDisabled: [
      "es6-javascript"
      "tag"
      "coffee-compile"
    ]
    excludeVcsIgnoredPaths: false
  whitespace:
    removeTrailingWhitespace: true
    ignoreWhitespaceOnCurrentLine: false
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "linter-jscs":
    esnext: true
    fixOnSave: true
    preset: "grunt"
    displayAs: "jscs Warning"
    onlyConfig: true
  "find-and-replace":
    openProjectFindResultsInRightPane: true
    focusEditorAfterSearch: true
    scrollToResultOnLiveSearch: true
  "linter-jshint":
    executablePath: "/Users/kswedberg/.nvm/versions/node/v4.2.1/bin/jshint"
    disableWhenNoJshintrcFileInPath: true
  "one-light-ui": {}
  "linter-tidy":
    tidyExecutablePath: "/usr/local/bin/tidy"
  linter:
    lintOnFlyInterval: 800
    showErrorInline: false
    errorPanelHeight: 120
    showErrorTabLine: true
  "word-jumper-deluxe": {}
  "tree-view":
    hideIgnoredNames: true
  emmet:
    extensionsPath: "~/bin/emmet"
  docblockr: {}
  "autocomplete-plus":
    useAlternateScoring: true
    confirmCompletion: "enter"
  autosave: {}
  "fuzzy-finder":
    ignoredNames: [
      ".sass-cache"
    ]
    preserveLastSearch: true
  tabs: {}
  "js-autoimport":
    trailingSemicolon: true
  "git-blame":
    ignoreWhiteSpaceDiffs: false
  "git-plus": {}
  tag: {}
  "coffee-compile": {}
  "atom-alignment": {}
  "markdown-writer":
    fileExtension: ".md"
  "language-babel": {}
  "atom-beautify":
    _analyticsUserId: "05c56071-6859-4f96-bcb2-992bc66f7e33"
    analytics: false
    html_end_with_newline: true
    js_end_with_newline: true
    js_keep_array_indentation: true
    language_json_beautify_on_save: true
  react: {}
  blame: {}
  "one-dark-ui": {}
  "linter-jsxhint":
    harmony: true
  "markdown-preview-plus":
    useGitHubStyle: true
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.smarty.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".css.less.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".basic.html.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.nunjucks.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".apache-config.mod_perl.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.text.twig":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".jquery.js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".html.mustache.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".mustache.source.sql":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".css.scss.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.jsx.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".babel.regexp.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".ini.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".nunjucks.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".git-rebase.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".git-config.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".git-commit.text":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".apache-config.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".postcss.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".sass.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".css.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".js.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".diff.source":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
