# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#

# '.source.js':
#   'forEach loop':
#     'prefix': 'fore'
#     'body': """
#       ${1:iterable.}forEach((${2:item}) => {
#         $3
#       });
#       """
'.source.css':
  'mediaquery':
    'prefix': '@media'
    'body': '''
    @media (${1:rule}) {
      $0
    }
    '''
'.source.js':
  'Anonymous Function':
    prefix: 'f'
    body: '''
    function() {
      $0
    }
    '''
