"*":
  "advanced-open-file":
    fuzzyMatch: true
  "atom-alignment":
    addSpacePostfix: true
  "atom-autocomplete-php": {}
  "atom-beautify":
    general:
      _analyticsUserId: "05c56071-6859-4f96-bcb2-992bc66f7e33"
      analytics: false
      beautifyEntireFileOnSave: false
    html:
      end_with_newline: true
      indent_size: 4
      wrap_attributes: "force"
    js:
      brace_style: "none"
      default_beautifier: "ESLint Fixer"
      end_with_newline: true
      keep_array_indentation: true
      max_preserve_newlines: 2
    json:
      indent_size: 2
    php:
      disabled: true
  "atom-minify":
    checkOutputFileAlreadyExists: true
    jsMinifier: "UglifyJS2"
    jsParametersForUglifyJS2: "nomangle"
  "auto-update-packages": {}
  "autocomplete-modules":
    babelPluginModuleResolver: true
    includeExtension: true
  "autocomplete-php": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    useAlternateScoring: true
  autosave: {}
  blame: {}
  core:
    audioBeep: false
    customFileTypes:
      "source.js.jsx": [
        "js"
        "jsx"
      ]
    disabledPackages: [
      "language-gfm"
      "vuejs2-snippets"
      "atom-minify"
      "editorconfig"
      "git-time-machine"
      "nativescript-atom-snippets"
      "hey-pane"
      "intentions"
      "linter-jscs"
      "linter-jshint"
      "script"
      "zentabs"
      "linter-twig"
      "linter-phpcs"
      "markdown-preview"
      "pigments"
      "language-todo"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".sass-cache"
      ".next"
    ]
    packagesWithKeymapsDisabled: [
      "es6-javascript"
      "tag"
      "coffee-compile"
      "atom-minify"
      "symbols-list"
      "git-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Iosevka Regular"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
  emmet: {}
  "exception-reporting":
    userId: "e83ab2a0-8d55-46e7-aef9-c693ffbb4a77"
  "file-types":
    Caddyfile$: "source.nginx"
    "\\.git(config|ignore).*$": "source.ini"
    "\\.njk$": "text.html.twig"
    "^(cdf|cps|dash|dman|down|e|g|gif|keycopy|mkcd|nvmupdate|quit|rmkcd|rmount|rmrf|rumount|shorten|ssl-cert)$": "source.shell"
    "^\\.(aliases|exports|functions|inputrc|jekyll|path|opts|slate|source_after|zprofile|.*\\-theme)$": "source.shell"
    hosts$: "source.apache-config"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    ignoredNames: [
      "*.png"
      "*.gif"
      "*.jp*g"
      "*.bin"
      "*.psd"
      "*.pdf"
      "*.doc*"
      ".sass-cache"
      "cache"
      "gitignore"
      "node_modules/instantsearch.js"
      "public/storage"
    ]
    preserveLastSearch: true
  "git-blame":
    ignoreWhiteSpaceDiffs: false
  "git-plus":
    general:
      _analyticsUserId: "f25d6e98-e9bb-47c0-a499-4d7a06f4f75d"
  "js-autoimport":
    trailingSemicolon: true
  linter:
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-annotations": {}
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling:
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
        "no-unused-vars"
      ]
    global:
      globalNodePath: "/Users/kswedberg/.nvm/versions/node/v10.15.1"
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "text.html.vue"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
    ]
  "linter-jscs":
    displayAs: "warning"
    esnext: true
    onlyConfig: true
    preset: "grunt"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintJSXFiles: true
  "linter-jsxhint":
    harmony: true
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-phpcs":
    ignorePatterns: [
      "**/*.blade.php"
      "**/*.twig.php"
      "**/wp-content/**"
    ]
  "linter-twig": {}
  "linter-ui-default":
    panelHeight: 164
    showPanel: true
    showTooltip: false
    statusBarPosition: "Right"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "markdown-preview-plus":
    grammars: [
      "text.md"
      "source.gfm"
      "text.html.basic"
      "text.plan"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  "native-ui":
    ui:
      macTransparency: false
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executeOnSave: true
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierOptions:
      arrowParens: "always"
      printWidth: 100
      singleQuote: true
      trailingComma: "es5"
    useEslint: true
  "seti-ui":
    compactView: true
    fileIcons: false
    hideProjectTab: true
    themeColor: "Steel"
  "show-invisibles-plus":
    show: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "todo-show":
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "*.pdf"
      "wp-admin"
      "wp-includes"
      "uploads"
    ]
    sortBy: "Path"
  "tree-ignore":
    enabled: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  uglify:
    mangle: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 12
    neverCloseUnsaved: true
".css.postcss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#$@%^&*|+=[]{}`?-…"
".css.postcss.source.sugarss":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#$@%^&*|+=[]{}`?-…"
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…"
".css.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#$@%^&*|+=[]{}`?-…"
".json.source":
  editor:
    softWrap: false
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#$@%^&*|+=[]{}`?-…"
