packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-minify"
  "auto-indent"
  "auto-update-packages"
  "autocomplete-html-entities"
  "autocomplete-modules"
  "autocomplete-nunjucks"
  "autocomplete-php"
  "blame"
  "busy-signal"
  "change-case"
  "craft-twig"
  "docblockr"
  "emmet"
  "escape-utils"
  "file-type-icons"
  "file-types"
  "flatland-dark-ui"
  "git-plus"
  "hey-pane"
  "html-head-snippets"
  "intentions"
  "jQuery"
  "js-extras"
  "language-apache"
  "language-babel"
  "language-dotenv"
  "language-ini"
  "language-markdown"
  "language-nginx"
  "language-vue"
  "lines"
  "linter"
  "linter-annotations"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "linter-jsonlint"
  "linter-php"
  "linter-phpcs"
  "linter-stylelint"
  "linter-twig"
  "linter-ui-default"
  "markdown-preview-plus"
  "markdown-writer"
  "merge-conflicts"
  "native-ui"
  "package-list"
  "package-sync"
  "pane-layout-plus"
  "php-cs-fixer"
  "set-syntax"
  "show-invisibles-plus"
  "Sublime-Style-Column-Selection"
  "tag"
  "teletype"
  "todo-show"
  "tree-ignore"
  "vue2-autocomplete"
  "vuejs2-snippets"
  "zentabs"
]
